body {
  background: #0d1117;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-inline: 65px;
  color: #c9d1d9;
}

p {
  line-height: 25px;
}

h1,
h2 {
  margin-bottom: 0;
  cursor: default;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 15px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
}

h5 {
  display: inline;
  padding-inline: 10px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

span {
  display: flex;
  align-items: center;
}

svg {
  fill: #8b949e;
}

.header {
  border-bottom: solid #30363d 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;
  padding-block: 0;
}

.header svg {
  padding: 8px;
  margin-block: 7px;
  transition: 0.2s;
  border-radius: 5px;
  cursor: pointer;
}

.header svg:hover {
  background: #30363d;
}

.header h5 {
  cursor: pointer;
}

.header span h5:hover {
  color: #58a6ff;
  text-decoration: underline;
}

.main_cont {
  border: solid #30363d 0.1px;
  border-radius: 5px;
}

section {
  padding-inline: 100px;
}

.resources {
  padding-bottom: 20px;
}

.heading {
  position: relative;
}

section svg {
  position: absolute;
  top: 10px;
  left: -20px;
  fill: transparent;
}

.summary svg {
  top: 15px;
}

.heading:hover svg {
  fill: #8b949e;
}

a {
  text-decoration: none;
  color: #58a6ff;
}

a:hover {
  text-decoration: underline;
}

hr {
  background-color: #21262d;
  height: 1px;
  border: none;
  padding-top: 0;
}

li {
  margin-block: 7px;
}

b {
  font-weight: 600;
}
